<!-- Loading Spinner -->
<div class="flexbox-parent">
    <div layout="row" layout-align="center center"  style="height: 100vh" ng-show="stateIsLoading">
        <md-progress-circular  md-diameter="150" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<!-- Show if data is already resolved -->
<div ng-show="!stateIsLoading">
    <div class="panel-header">Card Usage</div>
    <md-card-actions layout="row">
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon ><i class="mdi mdi-information"></i></md-icon>
                <md-tooltip md-direction="right">Here you can see recent logged transactions and add new ones</md-tooltip>
            </md-button>
        </md-card-icon-actions>
        <md-button class="md-fab md-warn" aria-label="Add expense" ui-sref="^.add-usage">
            <md-icon>
                <i class="mdi mdi-plus" style="color: white"></i>
            </md-icon>
            <md-tooltip md-direction="bottom">Add transaction</md-tooltip>

        </md-button>
    </md-card-actions>

    <md-card-content>

        <h4 ng-show="!ctrl.singleCardUsages.length">There are no transactions registered to this card.</h4>
        <md-table-container>
            <table md-table ng-hide="!ctrl.singleCardUsages.length" class="invoice-table" style="width: 100%; margin-top: 15px;">
                <thead md-head>
                <tr  md-row>
                    <th  md-column>Date</th>
                    <th  md-column>Type</th>
                    <th  md-column>Liters</th>
                    <th  md-column>Total</th>
                    <th  md-column>Receipt</th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row ng-repeat="usage in ctrl.singleCardUsages | orderBy: '-date' | limitTo: 10">
                    <td md-cell>{{usage.date | date}}</td>
                    <td md-cell>{{usage.purchase_type }}</td>
                    <td md-cell>{{usage.total_liters }}</td>
                    <td md-cell>{{usage.total_receipt | currency }}</td>
                    <td md-cell style="color:#6EBFDA" class="clickable">
                        <a ng-click="ctrl.showReceipt(usage)">View receipt</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination
            ng-hide="!ctrl.singleCardUsages.length"
            md-limit="ctrl.pagination.limit"
            md-page="ctrl.pageQuery.page"
            md-total="{{ctrl.pagination.total}}"
            md-boundary-links="ctrl.pagination.boundaryLinks"
            md-on-paginate="ctrl.getPaginatedSingleCardUsages">
        </md-table-pagination>
    </md-card-content>
</div>
