
<div class="panel-header">Card Usage</div>
<md-card-actions layout="row" layout-align="start center">
    <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Share">
            <md-icon ><i class="mdi mdi-information"></i></md-icon>
            <md-tooltip md-direction="right">Here you can see recent logged transactions and add new ones</md-tooltip>
        </md-button>
    </md-card-icon-actions>
    <md-button class="md-fab md-warn" aria-label="Add expense" ui-sref="^.add-usage">
        <md-icon>
            <i class="mdi mdi-plus" style="color: white"></i>
        </md-icon>
        <md-tooltip md-direction="bottom">Add transaction</md-tooltip>

    </md-button>
</md-card-actions>

<md-card-content>
    <table class="invoice-table" style="width: 100%; margin-top: 15px;">

        <thead>
        <tr>
            <th class="table-header" style="border-left: 1px solid #C7C7CB;">Custodian</th>
            <th class="table-header" style="border-left: 1px solid #C7C7CB;">Date</th>
            <th class="table-header" style="border-left: 1px solid #C7C7CB;">Type</th>
            <th class="table-header" style="border-left: 1px solid #C7C7CB;">Liters</th>
            <th class="table-header" style="border-left: 1px solid #C7C7CB;">Total</th>
            <th class="table-header" style="border-left: 1px solid #C7C7CB;">Receipt</th>
            <th ng-hide="true" colspan="2"class="table-header" style="border-left: 1px solid #C7C7CB;"></th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="usage in ctrl.cardUsages | orderBy: '-date' | limitTo: 10" >
            <td class="table-data" style="border-left: 1px solid #C7C7CB;">{{usage.record_custodian_name}}</td>
            <td class="table-data" style="border-left: 1px solid #C7C7CB;">{{usage.date | date}}</td>
            <td class="table-data" style="border-left: 1px solid #C7C7CB;">{{ usage.purchase_type }}</td>
            <td class="table-data" style="border-left: 1px solid #C7C7CB;">{{ usage.total_liters }}</td>
            <td class="table-data" style="border-left: 1px solid #C7C7CB;">{{ usage.total_receipt | currency }}</td>
            <td class="table-data" style="border-left: 1px solid #C7C7CB;">
                <a ng-click="ctrl.showReceipt(usage)">View receipt</a>
            </td>
            <td ng-hide="true" class="table-header"  style="border-left: 1px solid #C7C7CB;">
                <button ui-sref="dashboard.cards.view.edit-card-usage({id: usage.id})">
                    <i  class="material-icons">edit</i>
                    <span class="glyphicon glyphicon-print"></span>
                </button>
            </td>
            <!--TODO: Fix usage delete implementation-->
            <td ng-hide="true" class="table-header" style="border-left: 1px solid #C7C7CB;">
                <a ng-click="ctrl.deleteCardUsage(usage.id)" class="icon">
                    <i class="material-icons">delete</i>
                    <span class="glyphicon glyphicon-print"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-hide="false" >View All</md-button>
    </md-card-actions>


    </md-card-actions>
</md-card-content>

