<!-- Loading Spinner -->
<div class="flexbox-parent">
    <div layout="row" layout-align="center center"  style="height: 100vh" ng-show="stateIsLoading">
        <md-progress-circular  md-diameter="150" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<!-- Show if data is already resolved -->
<div ng-show="!stateIsLoading">

<div  layout class="layout bg-primary bottom-shadow">
    <h1 class="white" flex="50" flex-offset="10">Cards</h1>
</div>

    <div flex-gt-sm="80" flex-offset-gt-sm="10" layout="column" layout-xs="column" layout-sm="column" layout-wrap>

        <!-- User Type IDs: Administrator = 1, Card Custodian = 2, Card Custodian (Auxiliary) = 3, Vehicle Manager = 4

        - Administrator and Vehicle Manager can filter cards by: department, custodian, type, and status
        - Custodians can filter cards by: type, and status -->

        <md-card flex layout="column" layout-padding>
            <div flex layout="row">
                <label flex layout-align-gt-sm="start">
                    <span>
                        <md-icon>
                        <i class="filter-icon mdi mdi-filter-outline"></i>
                        </md-icon>Filter by:
                    </span>
                </label>

                <span layout-padding layout-align-gt-sm="end">
                    <a style="color:#6EBFDA" class="clickable" ng-click="ctrl.reload()">Clear all</a>
                </span>
            </div>
            <div flex layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align-gt-sm="space-between center">
                <md-input-container ng-show="ctrl.getUser().user_type_id === '1'" class="filter-selects-space">
                    <label>Department</label>
                    <md-select ng-model="ctrl.filter.department_id">
                        <md-option value="{{department.id}}" ng-repeat="department in ctrl.departments">{{department.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="ctrl.getUser().user_type_id === '1'" class="filter-selects-space">
                    <label>Custodian</label>
                    <md-select ng-model="ctrl.filter.custodian_id">
                        <md-option value="{{custodian.id}}" ng-repeat="custodian in ctrl.custodianNames">{{custodian.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="filter-selects-space">
                    <label>Card Type</label>
                    <md-select ng-model="ctrl.filter.type">
                        <md-option value= "{{type}}"" ng-repeat="type in ctrl.cardTypeOptions">{{type}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="filter-selects-space">
                    <label>Status</label>
                    <md-select ng-model="ctrl.filter.status">
                        <md-option  value="{{status}}" ng-repeat="status in ctrl.cardStatusOptions">{{status}}</md-option>
                    </md-select>
                </md-input-container>

                <md-button flex="initial" ng-click="ctrl.applyCardsFilter()" class="md-raised md-primary">Filter</md-button>

            </div>
        </md-card>


        <!--<div layout="row" layout-align="start center">-->

                <!--<md-input-container ng-show="ctrl.getUser().user_type_id === '1'" class="filter-selects-space">-->
                    <!--<label>Department</label>-->
                    <!--<md-select ng-model="ctrl.filter.department_id">-->
                        <!--<md-option value="{{department.id}}" ng-repeat="department in ctrl.departments">{{department.name}}</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->

                <!--<md-input-container ng-show="ctrl.getUser().user_type_id === '1'" class="filter-selects-space">-->
                    <!--<label>Custodian</label>-->
                    <!--<md-select ng-model="ctrl.filter.custodian_id">-->
                        <!--<md-option value="{{custodian.id}}" ng-repeat="custodian in ctrl.custodianNames">{{custodian.name}}</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->

                <!--<md-input-container class="filter-selects-space">-->
                    <!--<label>Card Type</label>-->
                    <!--<md-select ng-model="ctrl.filter.type">-->
                        <!--<md-option value= "{{type}}"" ng-repeat="type in ctrl.cardTypeOptions">{{type}}</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->

                <!--<md-input-container class="filter-selects-space">-->
                    <!--<label>Status</label>-->
                    <!--<md-select ng-model="ctrl.filter.status">-->
                        <!--<md-option  value="{{status}}" ng-repeat="status in ctrl.cardStatusOptions">{{status}}</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->

                 <!--<md-button ng-click="ctrl.applyFilter()" class="md-raised md-primary">Filter</md-button>-->
        <!--</div>-->

        <div class="card-group" layout="row"  layout-wrap>
            <md-card ng-repeat="card in ctrl.cards" flex-md="50 none" flex-gt-md="33 nogrow">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ card.name }}</span>
                        <span class="md-subhead">Department: {{ card.card_department_name  }}</span>

                        <!--Show custodian name on card view only if user is Admin -->
                        <span ng-show="ctrl.getUser().user_type_id === '1'" class="md-subhead">Custodian: {{ card.card_custodian_name  }}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img src="../../public/images/generic-credit-card.jpg" class="md-card-image" alt="Washed Out">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start start">
                    <md-button ui-sref="dashboard.cards.view.card-usage({id: card.id})">View Card</md-button>
                    <md-button ui-sref="dashboard.cards.edit({id: card.id})">Edit Card</md-button>
                    <md-button ng-click="ctrl.confirmCardDeletion(card)">Delete Card</md-button>
                </md-card-actions>
            </md-card>

        </div>

    </div>

    <div ng-hide="ctrl.getUser().user_type_name === 'custodian'">
    <nav mfb-menu position="br" effect="slidein-spring" label="Add Vehicle"
     active-icon="mdi mdi-plus" resting-icon="mdi mdi-plus"
     toggling-method="click" ui-sref="dashboard.cards.add()">
    </nav>
    </div>
</div>
