<div class="mdl-cell shadow">
    <div class="panel-header">{{ 'cards' | translate }}</div>
    <div class="panel-body" layout="row" layout-xs="column" layout-sm="column" layout-wrap>
        <md-card ng-repeat="c in ctrl.cards" flex-md="50 none" flex-gt-md="33 nogrow">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ c.name }}</span>
                    <span class="md-subhead">Department: {{ c.card_department_name }}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img src="../../public/images/material1.jpg" class="md-card-image" alt="Washed Out">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start start">
                <md-button ui-sref="dashboard.cards.view({id: c.id})">View Card</md-button>
                <md-button ui-sref="dashboard.cards.edit({id: c.id})">Edit Card</md-button>
                <md-button ng-click="ctrl.deleteCard(c)">Delete Card</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
