<div class="mdl-cell" flex="100" style="background: white;" ng-init="vm.initAddReport()">
    <div class="panel-header">
        Add Report
    </div>
    <div class="panel-body forms">
        <form name="reportForm" class="form-horizontal" ng-submit="vm.addReport()">
            <h4>Primary Details</h4>
            <div layout="row" layout-sm="column" layout-xs="column" class="mdl-grid">
                <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                id="{{validate(reportForm.driverName.$valid)}}"
                                name="driverName"
                                placeholder="Driver Name"
                                ng-required="true"
                                ng-maxlength="40"
                                ng-minlength="1"
                                ng-trim="false"
                                ng-model="vm.report.driverName" focus-if>
                    </md-input-container>
                    <md-input-container>
                        <label>Dispatcher</label>
                        <md-select 
                            class="form-control" 
                            id="{{validate(reportForm.dispatcher.$valid)}}"
                            name="dispatcher"
                            ng-required="true"
                            ng-model="vm.report.dispatcher">
                            <md-option ng-repeat="dispatcher in vm.dispatchers" ng-value="dispatcher._id"> 
                                {{dispatcher.name}}
                            </md-option>
                        </md-select><br>
                    </md-input-container>
                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                tooltip="{{'vinTooltip' | translate}}"
                                id="{{validate(reportForm.destination.$valid)}}"
                                name="destination"
                                placeholder="Destination"
                                ng-required="false"
                                ng-maxlength="1"
                                ng-minlength="24"
                                ng-trim="false"
                                ng-model="vm.report.destination">
                    </md-input-container>
                    <md-input-container>
                        <label>Departure Time</label>
                        <input type="time" 
                                class="form-control" 
                                id="{{validate(reportForm.departureTime.$valid)}}"
                                name="departureTime"
                                ng-required="true"
                                ng-model="vm.report.departureTime">
                        </md-select><br>
                    </md-input-container>
                    <md-input-container>
                        <label>Lunch Free Time</label>
                        <input type="time" 
                                class="form-control" 
                                id="{{validate(reportForm.lunchFreeTime.$valid)}}"
                                name="lunchFreeTime"
                                ng-required="true"
                                ng-model="vm.report.lunchFreeTime">
                        </md-select><br>
                    </md-input-container>
                </div>
                <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
                    <md-input-container>
                        <label><small>Date</small></label>
                    </md-input-container>
                    <md-datepicker 
                        ng-model="vm.report.date" 
                        md-placeholder="mm/dd/yyyy">
                    </md-datepicker><br><br>
                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                id="{{validate(reportForm.petitionerName.$valid)}}"
                                name="petitionerName"
                                placeholder="Petitioner Name"
                                ng-required="false"
                                ng-maxlength="1"
                                ng-minlength="40"
                                ng-trim="false"
                                ng-model="vm.report.petitionerName">
                    </md-input-container>
                    <md-input-container>
                        <label>Department</label>
                        <md-select 
                            class="form-control" 
                            id="{{validate(reportForm.department.$valid)}}"
                            name="department"
                            ng-required="true"
                            ng-model="vm.report.department">
                            <md-option ng-repeat="department in vm.departments" ng-value="department.name"> 
                                {{department.name}} 
                            </md-option>
                        </md-select><br>
                    </md-input-container>
                    <md-input-container>
                        <label>Arrival Time</label>
                        <input type="time" 
                                class="form-control" 
                                id="{{validate(reportForm.arrivalTime.$valid)}}"
                                name="arrivalTime"
                                ng-required="true"
                                ng-model="vm.report.arrivalTime">
                        </md-select><br>
                    </md-input-container>
                    <md-input-container>
                        <label>Dinner Free Time</label>
                        <input type="time" 
                                class="form-control" 
                                id="{{validate(reportForm.dinnerFreeTime.$valid)}}"
                                name="dinnerFreeTime"
                                ng-required="true"
                                ng-model="vm.report.dinnerFreeTime">
                        </md-select><br>
                    </md-input-container>
                </div>
            </div>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="reportForm.$invalid"> Submit </md-button>
        </form>
    </div>
</div>