<pageheader pagename="{{ 'users' | translate }}"></pageheader>

<div class="mdl-cell shadow">
    <div class="panel-header">{{ 'users' | translate }}</div>
    <div class="panel-body" layout="row" layout-xs="column" layout-sm="column" layout-wrap>
        <md-card flex="60" flex-offset="20">
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th></th>
                        <th md-column>Custodian</th>
                        <th md-column>Department</th>
                        <th md-column>Email</th>
                        <th md-column>Manage</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="user in ctrl.users | orderBy: '-user_department_name'">
                            <td md-cell><md-icon md-font-set="mdi">people</md-icon></td>
                            <td md-cell>{{user.name}}</td>
                            <td md-cell>{{user.user_department_name}}</td>
                            <td md-cell>{{user.email}}</td>
                            <td md-cell>
                                <md-icon>
                                    <i ui-sref="dashboard.users.edit({id: user.id})" class="mdi mdi-account-edit"></i>
                                </md-icon>
                            </td>
                            <td md-cell>
                                <md-icon>
                                    <i ng-click="ctrl.confirmUserDeletion(user)" class="mdi mdi-delete-sweep"></i>
                                </md-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <div style="text-align: center;">
                <md-button class="md-raised md-primary" ui-sref="dashboard.users.add()"> Add User </md-button>
            </div>

        </md-card>
    </div>
</div>


