<!-- Loading Spinner -->
<div class="flexbox-parent">
    <div layout="row" layout-align="center center"  style="height: 100vh" ng-show="stateIsLoading">
        <md-progress-circular  md-diameter="150" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<!-- Show if data is already resolved -->
<div ng-show="!stateIsLoading">
<div layout class="layout bg-primary bottom-shadow">
    <h1 class="white" flex="50" flex-offset="10">Users</h1>
</div>

    <div flex-gt-sm="80" flex-offset-gt-sm="10" layout="row">
        <md-card flex>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th></th>
                        <th md-column>Users</th>
                        <th md-column>Department</th>
                        <th md-column>Email</th>
                        <th md-column>Manage</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="user in ctrl.users | orderBy: '-user_department_name'">
                            <td md-cell><md-icon md-font-set="mdi">people</md-icon></td>
                            <td md-cell>{{user.name}}</td>
                            <td md-cell>{{user.user_department_name}}</td>
                            <td md-cell>{{user.email}}</td>
                            <td md-cell>
                                <md-icon>
                                    <i ui-sref="dashboard.users.edit({id: user.id})" class="clickable mdi mdi-account-edit"></i>
                                </md-icon>
                            </td>
                            <td md-cell>
                                <md-icon>
                                    <i ng-click="ctrl.confirmUserDeletion(user)" class="clickable mdi mdi-delete"></i>
                                </md-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination
                md-limit="ctrl.pagination.limit"
                md-page="ctrl.pageQuery.page"
                md-total="{{ctrl.pagination.total}}"
                md-boundary-links="ctrl.pagination.boundaryLinks"
                md-on-paginate="ctrl.getPaginatedUsers">

            <div style="text-align: center;">
                <md-button class="md-raised md-primary" ui-sref="dashboard.users.add()"> Add User </md-button>
            </div>

        </md-card>
    </div>
</div>


