<pageheader pagename="{{ 'vehicleDetails' | translate }}" subtitle="Gotta Catch 'Em All!"></pageheader>
<div layout="row" layout-sm="column" layout-xs="column" style="background: white;">
	<md-content flex="50" flex-sm="100">
		<md-card>
            <div class="panel-header">
                Vehicle Details
            </div>
	        <img src="../assets/vehicle.png" class="md-card-image" alt="Washed Out">

	        <md-card-content>
				<div layout="row" layout-xs="column" layout-sm="column" class="mdl-grid">
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3>
									{{ctrl.vehicle.make || "Make"}}
									{{ctrl.vehicle.model || "Model"}}
									{{ctrl.vehicle.year || "Year"}}
								</h3>
								<p> Vehicle </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.color}} </h3>
								<p> Color </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.vin || "VIN"}} </h3>
								<p> VIN </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.type || "Type"}} </h3>
								<p> Type </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.serial_number || "Serial Number"}} </h3>
								<p> Serial Number </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.property_number || "Property Number"}} </h3>
								<p> Property Number </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.registration_id || "Registration ID"}} </h3>
								<p> Registration ID </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.title_id || "Title ID"}} </h3>
								<p> Title ID </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.purchase_price || "Purchase Price"}} </h3>
								<p> Purchase Price </p>
							</div>
						</md-list-item>
					</div>
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.vehicle_department_name || "Department"}} </h3>
								<p> Department </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.marbete_date || "Marbete Date"}} </h3>
								<p> Marbete Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.inspection_date || "Inspection Date"}} </h3>
								<p> Inspection Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.decomission_date || "Decommission Date"}} </h3>
								<p> Decommission Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.inscription_date || "Inscription Date"}} </h3>
								<p> Inscription Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.doors || "Doors"}}/{{ctrl.vehicle.cylinders || "Cylinders"}} </h3>
								<p> Doors/Cylinders </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.color || "Color"}} </h3>
								<p> Color </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.ACAA || "ACAA"}} </h3>
								<p> ACAA </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.insurance || "Insurance"}} </h3>
								<p> Insurance </p>
							</div>
						</md-list-item>
					</div>
				</div>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="ctrl.moreDetails = !ctrl.moreDetails">
					<span ng-show="ctrl.moreDetails">Show Less</span>
					<span ng-hide="ctrl.moreDetails">Show More</span>
				</md-button>
				<md-button ui-sref="dashboard.vehicles.edit({id: ctrl.vehicle.id})">Edit Vehicle Details</md-button>
	        </md-card-actions>
	    </md-card>
	</md-content>

</div>

