<div flex-gt-sm="40" flex-offset-gt-sm="30" style="background: white;">

	    <md-card>
            <div class="panel-header">Vehicle Details</div>
	        <img src="../assets/vehicle.png" class="md-card-image" alt="Washed Out">

	        <md-card-content>
				<div layout="row" layout-xs="column" layout-sm="column" class="mdl-grid">
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3>
									{{ctrl.vehicle.make || "Make"}}
									{{ctrl.vehicle.model || "Model"}}
									{{ctrl.vehicle.year || "Year"}}
								</h3>
								<p> Vehicle </p>
							</div>
						</md-list-item>

                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.vehicle_type_name}} </h3>
                                <p> Type </p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.vehicle_department_name}} </h3>
                                <p> Department </p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.registration_id !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.registration_id}} </h3>
                                <p> Registration ID </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.title_id !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.title_id}} </h3>
                                <p> Title ID </p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.marbete_date !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.formatDateForMarkup(ctrl.vehicle.marbete_date)}} </h3>
                                <p> Marbete Date </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.inspection_date !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.formatDateForMarkup(ctrl.vehicle.inspection_date)}} </h3>
                                <p> Inspection Date </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.decomission_date !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.formatDateForMarkup(ctrl.vehicle.decomission_date)}} </h3>
                                <p> Decommission Date </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.inscription_date !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.formatDateForMarkup(ctrl.vehicle.inscription_date)}} </h3>
                                <p> Inscription Date </p>
                            </div>
                        </md-list-item>

					</div>
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">

                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.license_plate}} </h3>
                                <p> License Plate </p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.color}} </h3>
                                <p> Color </p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.property_number}} </h3>
                                <p> Property Number </p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.serial_number !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.serial_number}} </h3>
                                <p> Serial Number </p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.vin !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.vehicle.vin}} </h3>
                                <p> VIN </p>
                            </div>
                        </md-list-item>

						<md-list-item class="md-2-line" ng-show="ctrl.vehicle.doors !== null && ctrl.vehicle.cylinders !== null && ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> {{ctrl.vehicle.doors}}/{{ctrl.vehicle.cylinders}} </h3>
								<p> Doors/Cylinders </p>
							</div>
						</md-list-item>

                        <md-list-item class="md-2-line" ng-show="ctrl.vehicle.purchase_price !== null && ctrl.moreDetails">
                            <div class="md-list-item-text">
                                <h3> ${{ctrl.vehicle.purchase_price}} </h3>
                                <p> Purchase Price </p>
                            </div>
                        </md-list-item>

						<md-list-item class="md-2-line" ng-show="ctrl.vehicle.ACAA !== null && ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> ${{ctrl.vehicle.ACAA}} </h3>
								<p> ACAA </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="ctrl.vehicle.insurance !== null && ctrl.moreDetails">
							<div class="md-list-item-text">
								<h3> ${{ctrl.vehicle.insurance}} </h3>
								<p> Insurance </p>
							</div>
						</md-list-item>
					</div>
				</div>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="ctrl.moreDetails = !ctrl.moreDetails">
					<span ng-show="ctrl.moreDetails">Show Less</span>
					<span ng-hide="ctrl.moreDetails">Show More</span>
				</md-button>
				<md-button ui-sref="dashboard.vehicles.edit({id: ctrl.vehicle.id})">Edit Vehicle Details</md-button>
	        </md-card-actions>
	    </md-card>

</div>

