<div flex-gt-sm="80" flex-offset-gt-sm="10">
<div class="mdl-cell shadow">

    <div class="panel-header">Add User</div>

    <div class="panel-body forms">
        <form name="userForm" class="form-horizontal" ng-submit="ctrl.confirmUserCreation()">

            <div layout="column" layout-sm="column" layout-xs="column" class="mdl-grid">

                <div layout="row" class="mdl-cell" flex ="100 nogrow">
                    <div layout="column" class="mdl-cell" flex-md="50 none" flex-gt-md="33 nogrow">

                <md-input-container>
                        <input  type="text"
                                class="form-control"
                                name="fullName"
                                placeholder="Full Name"
                                ng-trim="false"
                                ng-model="ctrl.newUser.name"
                                ng-pattern = "/^([a-zA-Z]+\s)*[a-zA-Z]+$/" required>

                    <div ng-messages="userForm.fullName.$error" ng-if="userForm.fullName.$touched && userForm.fullName.$invalid">
                        <div ng-message="required">This field is required!</div>
                        <div ng-message="pattern">This entry can only contain characters.</div>
                    </div>
                    </md-input-container>

                    <md-input-container>
                        <input  type="email"
                                class="form-control"
                                name="email"
                                placeholder="Email"
                                ng-model="ctrl.newUser.email"
                                ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                        <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched && userForm.email.$invalid">
                            <div ng-message="required">This field is required!</div>
                            <div ng-message="pattern">Please enter a valid email.</div>
                        </div>

                    </md-input-container>

                    <md-input-container>
                        <input  type="password"
                                class="form-control"
                                name="password"
                                placeholder="Password"
                                ng-model="ctrl.newUser.password"
                                ng-pattern="/^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{8,}$/" required>

                        <div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched && userForm.password.$invalid">
                            <div ng-message="required">This field is required!</div>
                            <div ng-message="pattern">Password must contain characters, numbers and should be at least 8 characters long</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                name="position"
                                placeholder="Position"
                                ng-model="ctrl.newUser.position">

                    </md-input-container>

                    </div>


                    <div layout="column" class="mdl-cell" flex-md="50 none" flex-gt-md="33 nogrow">

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                name="contactNumber"
                                placeholder="Contact Number"
                                ng-pattern="/^(\d)+$/"
                                ng-model="ctrl.newUser.contact_number">

                        <div ng-messages="userForm.contactNumber.$error" ng-if="userForm.contactNumber.$touched && userForm.contactNumber.$invalid">
                            <div ng-message="pattern">This entry can only contain numbers</div>
                        </div>

                    </md-input-container>

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                name="employeeID"
                                placeholder="Employee ID"
                                ng-pattern="/^(\d)+$/"
                                ng-model="ctrl.newUser.employee_id">

                        <div ng-messages="userForm.employeeID.$error" ng-if="userForm.employeeID.$touched && userForm.employeeID.$invalid">
                            <div ng-message="pattern">This entry can only contain numbers.</div>
                        </div>

                    </md-input-container>

                    <md-input-container>
                        <label>Department</label>
                        <md-select
                            class="form-control"
                            name="department"
                            ng-required="true"
                            placeholer = "Department"
                            ng-model="ctrl.newUser.department_id" required>
                            <md-option ng-repeat="department in ctrl.departments" ng-value="department.id">
                                {{department.name}}
                            </md-option>
                        </md-select><br>
                    </md-input-container>
                    <md-input-container>
                        <label>User Type</label>
                        <md-select
                            class="form-control"
                            name="userType"
                            ng-required="true"
                            ng-model="ctrl.newUser.user_type_id">

                        <md-option value="1">Administrator</md-option>
                        <md-option value="2">Vehicle Manager</md-option>
                        <md-option value="3">Custodian</md-option>
                        <md-option value="4">Auxiliary Custodian</md-option>
                        </md-select>

                    </md-input-container>

                </div>

                </div>

                <div style="text-align: center;">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="userForm.$invalid"> Submit </md-button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
