<pageheader pagename="{{ 'add' | translate }} {{ 'user' | translate }}" subtitle="Gotta Catch 'Em All!"></pageheader>

<div class="mdl-cell shadow">
    <div class="panel-header">{{ 'add' | translate }} {{ 'user' | translate }}</div>
    <div class="panel-body forms">
        <form name="userForm" class="form-horizontal" ng-submit="ctrl.createUser()">
            <div class="form-group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <md-input-container >
                        <label>Email</label>
                        <input ng-model="ctrl.user.email" type="email" placeholder="name@example.com">
                    </md-input-container>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <md-input-container >
                        <label>Password</label>
                        <input ng-model="ctrl.user.password" type="password" placeholder="********">
                    </md-input-container>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-10 col-sm-2">
                    <md-button type="submit"
                            class="md-raised primary"
                            ng-disabled="userForm.$invalid">
                            {{ 'add' | translate }} {{ 'user' | translate }}
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div>
