<!-- Loading Spinner -->
<div class="flexbox-parent">
    <div layout="row" layout-align="center center"  style="height: 100vh" ng-show="stateIsLoading">
        <md-progress-circular  md-diameter="150" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<!-- Show if data is already resolved -->
<div ng-show="!stateIsLoading">
    <div layout class="layout bg-primary bottom-shadow">
        <h1 class="white" flex="50" flex-offset="10">Expense Records</h1>
    </div>
    <div layout="row" flex-gt-sm="80" flex-offset-gt-sm="10">

        <md-content flex>
            <md-tabs style="background: white" md-dynamic-height md-border-bottom>

                                                <!-- RECORDS TAB -->
                <md-tab label="All Records">
                    <md-content>
                        <div layout-xs="column" layout-sm="column" layout-gt-sm="row" style="background:white;">
                            <md-card flex="100" layout="column" layout-padding>
                                <div flex="100" layout="row" layout-align="start center">
                                    <span flex="20">Filter By</span>
                                    <div flex="10" flex-offset="60">
                                        <a style="color:#6EBFDA" class="clickable" ng-click="ctrl.reload()">Clear All</a>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="ctrl.applyFilter()" class="md-raised md-primary">Filter</md-button>
                                    </div>
                                </div>
                                <div flex="100" layout="row" layout-align="start center">
                                    <md-input-container flex flex-gt-sm="20">
                                        <label>Department</label>
                                        <md-select ng-model="ctrl.filter.department_id">
                                            <md-option value="{{ department.id }}" ng-repeat="department in ctrl.departments">{{department.name}}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container flex flex-gt-sm="20">
                                        <label>Custodian</label>
                                        <md-select ng-model="ctrl.filter.custodian_id">
                                            <md-option value="{{ user.id }}" ng-repeat="user in ctrl.users">{{user.name}}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container flex flex-gt-sm="20">
                                        <label>Gas Type</label>
                                        <md-select ng-model="ctrl.filter.purchase_type">
                                            <md-option value="{{type}}" ng-repeat="type in ctrl.purchaseTypes">{{ type }}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-datepicker
                                        flex="20"
                                        ng-model="ctrl.filter.date_from"
                                        md-placeholder="From Date">
                                    </md-datepicker>
                                    <md-datepicker
                                        flex="20"
                                        ng-model="ctrl.filter.date_to"
                                        md-placeholder="To Date">
                                    </md-datepicker>
                                </div>
                            </md-card>
                        </div>

                        <md-card ng-show="ctrl.records.length === 0" layout-margin layout-align="start center">
                            <h3 flex="initial"> No records found</h3>
                        </md-card>

                        <div ng-hide="ctrl.records.length === 0" layout-fill  layout="row" style="background:white;">
                            <md-card flex layout-padding>
                                <md-table-container>
                                    <table md-table>
                                        <thead md-head>
                                        <tr md-row>
                                            <th md-column></th>
                                            <th md-column>Custodian</th>
                                            <th md-column>Date</th>
                                            <th md-column>Type</th>
                                            <th md-column>Liters</th>
                                            <th md-column>Total</th>
                                            <th md-column>Receipt</th>
                                        </tr>
                                        </thead>
                                        <tbody md-body>
                                        <tr md-row ng-repeat="record in ctrl.records">
                                            <td md-cell><i class="mdi mdi-receipt mdi-24px"></i></td>
                                            <td md-cell>{{ record.record_custodian_name }}</td>
                                            <td md-cell>{{ record.date | date}}</td>
                                            <td md-cell>{{ record.purchase_type }}</td>
                                            <td md-cell>{{ record.total_liters }}</td>
                                            <td md-cell>{{ record.total_receipt | currency }}</td>
                                            <td md-cell>
                                                <a style="color:#6EBFDA" class="clickable" ng-click="ctrl.showReceipt(record)">View receipt</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <cl-paging flex
                                           cl-pages="ctrl.pagination.total"
                                           cl-steps="5"
                                           cl-page-changed="ctrl.applyFilter()"
                                           cl-current-page="ctrl.filter.page"
                                           cl-align="center stretch">
                                </cl-paging>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                                            <!-- DOWNLOAD REPORTS TAB -->
                <md-tab label="Download Reports">
                    <md-content class="md-padding" style="background:white;">
                        <div flex-gt-sm="50" flex-offset-gt-sm="25"  layout-gt-sm="row" layout-xs="column" layout-sm="column">
                            <md-card flex layout="row" layout-fill layout-padding>
                                <div flex="80">
                                    <label>Select Report Date</label>
                                        <md-select
                                            class="form-control"
                                            name="report_date"
                                            ng-model="ctrl.selectedReportDate">
                                            <md-option ng-repeat="date in ctrl.reportDates" ng-value="date.value">
                                                {{date.formatted_conciliation_dates}}
                                            </md-option>
                                        </md-select>
                                    </div>

                                    <div flex="20" layout layout-align="center center" layout-fill>
                                        <md-button flex="initial" ng-disabled="ctrl.selectedReportDate === ''" ng-click="ctrl.downloadMonthlyReport()" class="md-fab md-primary">
                                            <md-icon>file_download</md-icon>
                                        </md-button>
                                    </div>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
