<pageheader pagename="{{ 'vehicleDetails' | translate }}" subtitle="Gotta Catch 'Em All!"></pageheader>
<div layout="row" layout-sm="column" layout-xs="column" style="background: white;">
	<md-content flex="40" flex-sm="100">
		<md-card ng-init="vm.getVehicle()">
	        <img src="images/material1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
				<md-card-title-text>
	            	<span class="md-headline">Vehicle Details</span>
	          	</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
				<div layout="row" layout-xs="column" layout-sm="column" class="mdl-grid">
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100"> 
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> 
									{{vm.vehicle.make || "Make"}} 
									{{vm.vehicle.model || "Model"}} 
									{{vm.vehicle.year || "Year"}} 
								</h3>
								<p> Vehicle </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.color}} </h3>
								<p> Color </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.vin || "VIN"}} </h3>
								<p> VIN </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.type || "Type"}} </h3>
								<p> Type </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.serialNumber || "Serial Number"}} </h3>
								<p> Serial Number </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.propertyNumber || "Property Number"}} </h3>
								<p> Property Number </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.registrationID || "Registration ID"}} </h3>
								<p> Registration ID </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.titleID || "Title ID"}} </h3>
								<p> Title ID </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.purchasePrice || "Purchase Price"}} </h3>
								<p> Purchase Price </p>
							</div>
						</md-list-item>
					</div>
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100"> 
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.department || "Department"}} </h3>
								<p> Department </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.marbeteDate || "Marbete Date"}} </h3>
								<p> Marbete Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.inspectionDate || "Inspection Date"}} </h3>
								<p> Inspection Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.decommissionDate || "Decommission Date"}} </h3>
								<p> Decommission Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.inscriptionDate || "Inscription Date"}} </h3>
								<p> Inscription Date </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.doors || "Doors"}}/{{vm.vehicle.cylinders || "Cylinders"}} </h3>
								<p> Doors/Cylinders </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.color || "Color"}} </h3>
								<p> Color </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.ACAA || "ACAA"}} </h3>
								<p> ACAA </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line" ng-show="vm.moreDetails">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.insurance || "Insurance"}} </h3>
								<p> Insurance </p>
							</div>
						</md-list-item>
					</div>
				</div>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="vm.showMoreDetails()">
					<span ng-show="vm.moreDetails">Show Less</span>
					<span ng-hide="vm.moreDetails">Show More</span>
				</md-button>
				<md-button ui-sref="vehicles.edit({vehicleID: vm.vehicle._id})">Edit Vehicle Details</md-button>
	        </md-card-actions>
	    </md-card>
		<md-card>
	        <md-card-header>
				<md-card-avatar>
					<img src="images/profile.jpg"/>
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title">{{vm.vehicle.custodian.firstName || "Juan"}}</span>
					<span class="md-subhead">{{vm.vehicle.custodian.lastName || "Del Pueblo"}}</span>
				</md-card-header-text>
			</md-card-header>
			<img src="images/login-cover.jpg" class="md-card-image" alt="Washed Out">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Custodian Details</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100"> 
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> 
									{{vm.vehicle.custodian.firstName || "Juan"}} 
									{{vm.vehicle.custodian.lastName || "Del Pueblo"}} 
								</h3>
								<p> Full Name </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.custodian.telephone || "Telephone"}} </h3>
								<p> Telephone </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.custodian.position || "Position"}} </h3>
								<p> Position </p>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{vm.vehicle.custodian.employeeID || "Employee ID"}} </h3>
								<p> Employee ID </p>
							</div>
						</md-list-item>
					</div>
			</md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
				<md-button ui-sref="vehicles.edit({vehicleID: vm.vehicle._id})">View Custodian Details</md-button>
				<md-button ui-sref="vehicles.edit({vehicleID: vm.vehicle._id})">Assign New Custodian</md-button>
	        </md-card-actions>
		</md-card>
<!-- 		<md-card>
	        <img src="images/material3.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
				<md-card-title-text>
					<span class="md-headline">Linked Gasoline Credit Cards</span>
				</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
				<p>
					The titles of Washed Out's breakthrough song and the first single from Paracosm share the
					two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
				</p>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
				<md-button class="md-icon-button" aria-label="Favorite">
					<md-icon ><i class="mdi mdi-navigation"></i></md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="Settings">
					<md-icon ><i class="mdi mdi-reply"></i></md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="Share">
					<md-icon ><i class="mdi mdi-play-circle"></i></md-icon>
				</md-button>
	        </md-card-actions>
	  	</md-card>
	    <md-card>
	        <img src="images/material2.jpg" class="md-card-image" alt="Washed Out">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Vehicle Maintenance Manager</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row" layout-align="start center">
				<md-card-icon-actions>
					<md-button class="md-icon-button" aria-label="Favorite">
						<md-icon ><i class="mdi mdi-heart"></i></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Share">
						<md-icon ><i class="mdi mdi-information"></i></md-icon>
					</md-button>
				</md-card-icon-actions>
				<md-button>Action 1</md-button>
				<md-button>Action 2</md-button>
			</md-card-actions>
			<md-card-content>
				<p>
				The titles of Washed Out's breakthrough song and the first single from Paracosm share the
				two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
				</p>
			</md-card-content>
		</md-card> -->
	</md-content>
	<md-content flex="60" flex-sm="100">
	    <md-card>
	        <calendar-md flex layout layout-fill
	            calendar-direction="direction"
	            on-prev-month="prevMonth"
	            on-next-month="nextMonth"
	            on-day-click="dayClick"
	            title-format="'MMMM y'"
	            ng-model='selectedDate'
	            week-starts-on="firstDayOfWeek"

	            data-start-month="8"

	            data-start-year="2014"
	            day-format="'d'"
	            day-label-format="'EEE'"
	            day-label-tooltip-format="'EEEE'"
	            day-tooltip-format="'fullDate'"
	            day-content="setDayContent">
	        </calendar-md>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Vehicle Usage Record - September 24, 2016</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row" layout-align="start center">
				<md-card-icon-actions>
					<md-button class="md-icon-button" aria-label="Share">
						<md-icon ><i class="mdi mdi-information"></i></md-icon>
					</md-button>
				</md-card-icon-actions>
				<md-button>Download Usage Report</md-button>
				<md-button ui-sref="vehicleRecords({vehicleID: vm.vehicle._id})">View All</md-button>
				<md-button ui-sref="vehicleRecords.add({vehicleID: vm.vehicle._id})">Add Usage Entry</md-button>
			</md-card-actions>
			<md-card-content>
			<table class="invoice-table" style="width: 100%; margin-top: 15px;">
				<thead>
					<tr>
						<th class="table-header">#</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Driver</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Destination</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Departure</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Arrival</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table-data">12</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">John Doe</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Lorem</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">7:58am</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">10:30am</td>
					</tr>
					<tr>
						<td class="table-data">13</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Jane Doe</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Ipsum</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">1:00pm</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">2:55pm</td>
					</tr>
					<tr>
						<td class="table-data">14</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Jimmy Done</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Dolor</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">3:10pm</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">4:50pm</td>
					</tr>
				</tbody>
			</table>
			</md-card-content>
		</md-card>
	</md-content>
</div>
<nav mfb-menu position="br" effect="slidein-spring" label="Options"
     active-icon="mdi mdi-close" resting-icon="mdi mdi-menu"
     toggling-method="click">
	<button mfb-button icon="mdi mdi-note-plus" label="Add Vehicle Usage Entry" ui-sref="vehicleRecords.add({vehicleID: vm.vehicle._id})"></button>
	<button mfb-button icon="mdi mdi-folder-download" label="Download Latest Usage Report"></button>
	<button mfb-button icon="mdi mdi-lead-pencil" label="Edit Vehicle Details" ui-sref="vehicles.edit({vehicleID: vm.vehicle._id})"></button>
</nav>