<pageheader pagename="{{ 'vehicles' | translate }}" subtitle="Gotta Catch 'Em All!"></pageheader>

<div class="mdl-cell shadow">
    <div class="panel-header">{{ 'vehicles' | translate }}</div>
    <div class="panel-body" layout="row" layout-xs="column" layout-sm="column" layout-wrap>
        <md-card ng-repeat="v in ctrl.vehicles" flex-md="50 none" flex-gt-md="33 nogrow">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{v.make}} {{v.model}} {{v.licence_plate}}</span>
                    <span class="md-subhead">Department: {{ v.vehicle_department_name }}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img src="../../public/images/material1.jpg" class="md-card-image" alt="Washed Out">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start start">
                <md-button ui-sref="dashboard.vehicles.view({id: v.id})">View Vehicle</md-button>
                <md-button ui-sref="dashboard.vehicles.edit({id: v.id})">Edit Vehicle</md-button>
                <md-button ng-click="ctrl.deleteVehicle(v)">Delete Vehicle</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>

<nav mfb-menu position="br" effect="slidein-spring" label="Add Vehicle"
     active-icon="mdi mdi-plus" resting-icon="mdi mdi-plus"
     toggling-method="click" ui-sref="dashboard.vehicles.add()">
</nav>
