<div layout="column">
    <h2 flex="initial">Step 1: Upload Vendor's Invoice</h2>
    <p flex="initial">
        Provide the monthly spreadsheet file distributed
        by UPRM's gas vendor to start the automated
        conciliation process.
    </p>
    <div layout="row" >
        <form name="invoiceForm" flex="100" layout="row" layout-align="center center" ng-submit="ctrl.submitInvoice()">
            <md-input-container flex="60" ng-if="ctrl.uploader">
                <input aria-label="Invoice image" type="file" nv-file-select uploader="ctrl.uploader" /><br/>
                <ul>
                    <li ng-repeat="item in ctrl.uploader.queue">
                        {{item.file.name}}
                    </li>
                </ul>
            </md-input-container>
            <md-button flex="20" class="md-raised md-warn">Cancel</md-button>
            <md-button type="submit" flex="20" class="md-raised md-primary">Submit</md-button>
        </form>
    </div>
</div>



