<h2 flex="initial">Step 3: Review notified custodians</h2>
<p flex="initial">
    The list below outlines all custodians that have
    Unverified or Unknown transactions recorded
    UPRM's gas vendor.
</p>
<div layout layout-align="center">
    <md-table-container flex>
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>Custodian</th>
                    <th md-column>Department</th>
                    <th md-column>Email</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row>
                    <td md-cell>Diego Figueroa</td>
                    <td md-cell>Rectoria</td>
                    <td md-cell>diego.figueroa3@upr.edu</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-button class="md-primary" ui-sref="dashboard.home">Finish</md-button>
</div>
