<div layout class="layout bg-primary bottom-shadow">
    <h1 class="white" flex="50" flex-offset="10">Expense Justification</h1>
</div>
<div layout-fill layout-padding layout="row">
    <md-card flex="80" flex-offset="10" layout="column" layout-align="start center" layout-padding>
        <h2 ng-hide="ctrl.unread_notifications_count === 0" flex="initial">Justify unreconciled records</h2>
        <p ng-hide="ctrl.unread_notifications_count === 0" flex="initial">
            The table below shows all unreconciled transactions up to date.
            Please use right side text fields to input justifications.
        </p>
        <h3 ng-show="ctrl.unread_notifications_count === 0" flex="initial">No more unreconciled transactions found</h3>

        <div ng-hide="ctrl.unread_notifications_count === 0" layout="column" layout-align="start center">
            <md-table-container flex>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>Date</th>
                        <th md-column>Type</th>
                        <th md-column>Liters</th>
                        <th md-column>Total</th>
                        <th md-column>Receipt</th>
                        <th md-column>Justification</th>
                        <th md-column>Action</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="transaction in ctrl.notifications">
                        <td md-cell>{{transaction.record_info.date}}</td>
                        <td md-cell>{{transaction.record_info.purchase_type}}</td>
                        <td md-cell>{{transaction.record_info.total_liters}}</td>
                        <td md-cell>{{transaction.record_info.total_receipt | currency}}</td>
                        <td md-cell>
                            <a style="color:#6EBFDA" class="clickable" ng-click="ctrl.showReceipt(transaction)">View receipt</a>
                        </td>
                        <td md-cell>
                            <md-input-container flex>
                                <textarea class="form-control"
                                          name="name"
                                          placeholder="Justify here"
                                          ng-model="transaction.justification"
                                          ng-init="transaction.justification = ''"
                                          md-maxlength="150"
                                          rows="4"
                                          required>
                                </textarea>
                            </md-input-container>
                        </td>
                        <td md-cell>
                            <md-button ng-click="ctrl.submitJustification(transaction)" class="md-raised">Submit</md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <md-button flex class="md-raised md-primary" ui-sref="dashboard.home">Finish</md-button>
    </md-card>
</div>
