<div layout class="layout bg-primary bottom-shadow">
    <h1 class="white" flex="50" flex-offset="10">Reconciliation</h1>
</div>
<div layout-fill layout-padding layout="row">
    <md-card flex="80" flex-offset="10" layout-padding>
        <div layout="row" layout-align="center center">
            <div flex="10">
                <div class="numberCircle" ui-sref-active="active" ui-sref=".step1">1</div>
            </div>
            <div flex="10">
                <div  class="numberCircle" ui-sref-active="active" ui-sref=".step2">2</div>
            </div>
        </div>
        <md-divider></md-divider>
        <ui-view></ui-view>
    </md-card>
</div>
