/* styles for buttons */

.primary {
	background: $primary !important;
	color: #fff !important;
	&:hover {
	    background-color: $primary !important;
	}
}

.green {
	background: $green !important;
	color: #fff !important;
	&:hover {
	    background-color: $green !important;
	}
}

.primary-flat {
	color: $primary;
}

.green-flat {
	color: $green;
}

.md-icon-button {
	&.green-flat {
		.mdi {
			color: $green;
		}
	}
}

.md-icon-button {
	&.primary-flat {
		.mdi {
			color: $primary;
		}
	}
}

.md-icon-button {
	line-height: 20px !important;
	.mdi {
		font-size: 24px;
	}
}

.md-fab {
	line-height: 2.8rem !important;
  z-index: 1 !important;
	.mdi {
		font-size: 26px;
	}
}

.material-icons.md-18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}
.material-icons.md-24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
.material-icons.md-36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}
.material-icons.md-48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.material-icons.md-96 {
  font-size: 96px !important;
  height: 96px !important;
  width: 96px !important;
}
