<!-- Loading Spinner -->
<div class="flexbox-parent">
    <div layout="row" layout-align="center center"  style="height: 100vh" ng-show="stateIsLoading">
        <md-progress-circular  md-diameter="150" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<!-- Show if data is already resolved -->
<div ng-show="!stateIsLoading">

<div class="bg-primary bottom-shadow" layout="column">
    <h1 class="white margin-bottom-0" flex-offset="10"
        ng-show="ctrl.getUser().user_type_name === 'admin'">Welcome, {{ctrl.getUser().name}}</h1>
    <h1 class="white" flex-offset="10"
        ng-show="ctrl.getUser().user_type_name === 'custodian'">Welcome, {{ctrl.getUser().name}}</h1>
    <h4 class="white margin-top-0 margin-bottom-0" flex-offset="10"
        ng-show="ctrl.getUser().user_type_name === 'admin' && ctrl.actual_after_conciliation_percent">Current conciliation percent: {{ ctrl.actual_after_conciliation_percent }}%</h4>
    <h6 class="white margin-top-0" flex-offset="10"
        ng-show="ctrl.getUser().user_type_name === 'admin' && ctrl.latest_conciliation_date !== 'Invalid date'">Last conciliation date: {{ ctrl.latest_conciliation_date }}</h6>
</div>

<!-- User Type Names: Administrator = 'admin', Vehicle Manager = 'vehicle_admin', Card Custodian = 'custodian', Card Custodian (Auxiliary) = 'auxiliary custodian', -->
<div layout="row" layout-fill>
    <!-- Dashboard view for ADMINISTRATOR -->
    <div layout="column" flex="80" flex-offset="10">
        <md-card ng-show="ctrl.getUser().user_type_name === 'admin'" flex layout="row" layout-align="space-around center">
            <md-icon flex class="text-center">people</md-icon>
            <span flex class="text-light">{{ctrl.registered_users}} users</span>
            <md-icon flex class="text-center">credit_card</md-icon>
            <span flex class="text-light">{{ctrl.active_credit_cards}} cards</span>
            <md-icon flex class="text-center">directions_car</md-icon>
            <span flex class="text-light">{{ctrl.registered_vehicles}} vehicles</span>
            <md-icon flex class="text-center">forward</md-icon>
            <span flex class="text-light">{{ctrl.total_monthly_expenses | currency}} in Expenses</span>
        </md-card>

        <div flex="initial" layout="row" layout-align="start stretch">
            <md-card flex layout="column">
                <md-toolbar flex="initial" layout="row">
                    <div class="md-toolbar-tools">
                        <span>Notifications</span>
                    </div>
                </md-toolbar>
                <md-list flex="grow" ng-show="ctrl.getUser().user_type_name === 'admin' && ctrl.justified_notifications_count > 0">
                    <md-subheader class="md-no-sticky">{{ ctrl.justified_notifications_count }} unread notifications</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="notification in ctrl.notifications" layout="row" ng-click="ctrl.showTransaction(notification)">
                        <md-icon class="material-icons md-36">error_outline</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ notification.notification_type === 'Not reconcile by: Data Entry Error'? 'Data Entry Error' : 'Transaction Not Found' }}</h3>
                            <h4>Status: {{ notification.record_correction_status }}</h4>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list flex="grow" ng-show="ctrl.getUser().user_type_name === 'custodian' && ctrl.unread_notifications_count > 0">
                    <md-subheader class="md-no-sticky">{{ ctrl.unread_notifications_count }} unread notifications</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="notification in ctrl.notifications" layout="row" ng-click="ctrl.showTransaction(notification)">
                        <md-icon class="material-icons md-36">error</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ notification.notification_type === 'Not reconcile by: Data Entry Error'? 'Data Entry Error' : 'Transaction Not Found' }}</h3>
                            <h4>Due date: {{ notification.due_date }}</h4>
                            <p>Status: {{ notification.record_correction_status }}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <div flex ng-show="ctrl.justified_notifications_count === 0" layout="row" layout-align="start center" layout-margin>
                    <md-icon flex class="material-icons md-96 md-primary md-hue-2">check_circle</md-icon>
                    <h3 flex>0 notifications</h3>
                </div>
                <div flex ng-show="ctrl.unread_notifications_count === 0" layout="row" layout-align="start center" layout-margin>
                    <md-icon class="material-icons md-96 md-primary md-hue-2">check_circle</md-icon>
                    <h3 flex>0 notifications</h3>
                </div>
            </md-card>
            <div ng-show="ctrl.getUser().user_type_name === 'admin'" flex layout="column" layout-align="start stretch" layout-padding>
                <md-button flex="initial" ui-sref="dashboard.conciliation.step1"
                           ng-disabled="ctrl.unread_notifications_count === 0"
                           md-colors="{background: 'blue-500'}"
                           class="md-raised">Start Conciliation</md-button>
                <md-button flex="initial" ui-sref="dashboard.approval"
                           ng-disabled="ctrl.justified_notifications_count === 0"
                           class="md-raised md-primary">Review Justifications</md-button>
            </div>
            <div ng-show="ctrl.getUser().user_type_name === 'custodian'" flex layout="column" layout-align="start stretch" layout-padding>
                <md-button flex="initial" ui-sref="dashboard.justification"
                           ng-disabled="ctrl.unread_notifications_count === 0"
                           md-colors="{background: 'deep-orange-700'}"
                           class="md-raised md-warn">Justify</md-button>
            </div>
        </div>
    </div>

</div>
</div>
