<div class="ng-scope layout-xs-column layout-sm-column layout-row mdl-cell" layout="row" layout-sm="column" layout-xs="column" >

    <!-- Card details view -->

    <md-content layout="row" flex="34" flex-sm="100">
        <md-card>
            <div class="panel-header">
                Credit Card Details
            </div>
            <img class="credit-card" src="../../../public/images/generic-credit-card.jpg">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card Details</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" layout-sm="column" class="mdl-grid">
                    <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.card.number || "Number"}} </h3>
                                <p> Number </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.card.expiry || "Expiry"}} </h3>
                                <p> Expiration Date </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{(ctrl.card.name | capitalize) || "Name"}} </h3>
                                <p> Name </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.card.card_custodian_name || "Custodian Name"}} </h3>
                                <p> Custodian </p>
                            </div>
                        </md-list-item>
                    </div>
                    <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{(ctrl.card.card_department_name | capitalize)|| "Department"}} </h3>
                                <p> Department </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{(ctrl.card.type | capitalize) || "Type"}} </h3>
                                <p> Type </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{(ctrl.card.status | capitalize) || "Status"}} </h3>
                                <p> Status </p>
                            </div>
                        </md-list-item>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-sref="dashboard.cards.edit({id: ctrl.card.id})">Edit Card Details</md-button>
            </md-card-actions>
        </md-card>
    </md-content>

    <!-- Card usage OR Add card usage view (interchangeable) -->
    <div>

    </div>

    <md-content layout="row" flex="66" flex-sm="100">
        <md-card>

            <!--TODO: is this code neccesary?? -->
            <!--<calendar-md flex layout layout-fill-->
            <!--calendar-direction="direction"-->
            <!--on-prev-month="prevMonth"-->
            <!--on-next-month="nextMonth"-->
            <!--on-day-click="dayClick"-->
            <!--title-format="'MMMM y'"-->
            <!--ng-model='selectedDate'-->
            <!--week-starts-on="firstDayOfWeek"-->

            <!--data-start-month="8"-->

            <!--data-start-year="2014"-->
            <!--day-format="'d'"-->
            <!--day-label-format="'EEE'"-->
            <!--day-label-tooltip-format="'EEEE'"-->
            <!--day-tooltip-format="'fullDate'"-->
            <!--day-content="setDayContent">-->
            <!--</calendar-md>-->


            <!-- ui-view -> card usage report table -->
            <div ui-view ></div>

        </md-card>
    </md-content>




</div>
