<div layout="row" layout-sm="column" layout-xs="column" style="background: white;">
	<md-content flex="40" flex-sm="100">
		<md-card>
	        <img src="../../../public/images/material1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
				<md-card-title-text>
	            	<span class="md-headline">Card Details</span>
	          	</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
				<div layout="row" layout-xs="column" layout-sm="column" class="mdl-grid">
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.card.number || "Number"}} </h3>
                                <p> Number </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.card.expiry || "Expiry"}} </h3>
                                <p> Expiration Date </p>
                            </div>
                        </md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.card.name || "Name"}} </h3>
								<p> Name </p>
							</div>
						</md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.card.card_custodian_name || "Custodian Name"}} </h3>
                                <p> Custodian </p>
                            </div>
                        </md-list-item>
					</div>
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.card.card_department_name || "Department"}} </h3>
								<p> Department </p>
							</div>
						</md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3> {{ctrl.card.type || "Type"}} </h3>
                                <p> Type </p>
                            </div>
                        </md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3> {{ctrl.card.status || "Status"}} </h3>
								<p> Status </p>
							</div>
						</md-list-item>
					</div>
				</div>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
				<md-button ui-sref="dashboard.cards.edit({id: ctrl.card.id})">Edit Card Details</md-button>
	        </md-card-actions>
	    </md-card>
		<md-card>
	        <md-card-header>
				<md-card-avatar>
					<img src="../../../public/images/profile.jpg"/>
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title">{{ctrl.card.custodian.firstName || "Juan"}}</span>
					<span class="md-subhead">{{ctrl.card.custodian.lastName || "Del Pueblo"}}</span>
				</md-card-header-text>
			</md-card-header>
			<img src="../../../public/images/login-cover.jpg" class="md-card-image" alt="Washed Out">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Custodian Details</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
					<div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100">
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3>
									{{ctrl.card.custodian_id.firstName || "ID"}}
								</h3>
								<p> ID </p>
							</div>
						</md-list-item>
					</div>
			</md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
				<md-button ui-sref="^.edit({id: card.id})">Edit Custodian Details</md-button>
	        </md-card-actions>
		</md-card>
	</md-content>
	<md-content flex="60" flex-sm="100">
	    <md-card>
	        <calendar-md flex layout layout-fill
	            calendar-direction="direction"
	            on-prev-month="prevMonth"
	            on-next-month="nextMonth"
	            on-day-click="dayClick"
	            title-format="'MMMM y'"
	            ng-model='selectedDate'
	            week-starts-on="firstDayOfWeek"

	            data-start-month="8"

	            data-start-year="2014"
	            day-format="'d'"
	            day-label-format="'EEE'"
	            day-label-tooltip-format="'EEEE'"
	            day-tooltip-format="'fullDate'"
	            day-content="setDayContent">
	        </calendar-md>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Card Usage Record - September 24, 2016</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row" layout-align="start center">
				<md-card-icon-actions>
					<md-button class="md-icon-button" aria-label="Share">
						<md-icon ><i class="mdi mdi-information"></i></md-icon>
					</md-button>
				</md-card-icon-actions>
				<md-button>Download Usage Report</md-button>
				<md-button ui-sref="cardRecords({cardID: vm.card._id})">View All</md-button>
				<md-button ui-sref="cardRecords.add({cardID: vm.card._id})">Add Usage Entry</md-button>
			</md-card-actions>
			<md-card-content>
			<table class="invoice-table" style="width: 100%; margin-top: 15px;">
				<thead>
					<tr>
						<th class="table-header">#</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Driver</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Destination</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Departure</th>
						<th class="table-header" style="border-left: 1px solid #C7C7CB;">Arrival</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table-data">12</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">John Doe</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Lorem</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">7:58am</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">10:30am</td>
					</tr>
					<tr>
						<td class="table-data">13</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Jane Doe</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Ipsum</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">1:00pm</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">2:55pm</td>
					</tr>
					<tr>
						<td class="table-data">14</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Jimmy Done</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">Dolor</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">3:10pm</td>
						<td class="table-data" style="border-left: 1px solid #C7C7CB;">4:50pm</td>
					</tr>
				</tbody>
			</table>
			</md-card-content>
		</md-card>
	</md-content>
</div>
