<div flex="100" style="background: white;">
    <div class="panel-header">
        Add Gas Expense
    </div>
    <div class="panel-body forms">

        <form name="cardUsageForm" class="form-horizontal" ng-submit="ctrl.confirmUsageForm()" novalidate>
            <h4>Please enter transaction details</h4>
            <div layout="column" layout-sm="column" layout-xs="column" class="mdl-grid">

                <div class="mdl-cell" flex ="100 nogrow">

                    <md-input-container>
                        <label>Transaction Date</label>
                        <md-datepicker
                            ng-init="ctrl.temp_date = (ctrl.newCardUsage.date | toDate)"
                            ng-change="ctrl.onDateChange()"
                            ng-model="ctrl.temp_date"
                            md-placeholder="mm/dd/yyyy"
                            md-max-date="ctrl.today">
                        </md-datepicker>
                    </md-input-container>

                </div>

                <div layout="row" class="mdl-cell" flex ="100 nogrow">
                    <div layout="column" class="mdl-cell" flex-md="50 none" flex-gt-md="33 nogrow">

                        <md-input-container>
                            <input  type="text"
                                    class="form-control"
                                    name="provider_number"
                                    maxlength="40"
                                    placeholder="Provider (Store)"
                                    ng-model="ctrl.newCardUsage.provider_number">
                        </md-input-container>

                        <md-input-container>
                            <input  type="text"
                                    class="form-control"
                                    name="vehicle_mileage"
                                    maxlength="7"
                                    placeholder="Vehicle Mileage"
                                    ng-model="ctrl.newCardUsage.vehicle_mileage"
                                    ng-pattern="/^(\d)+$/"
                                    required>
                            <div ng-messages="cardUsageForm.vehicle_mileage.$error" ng-if="cardUsageForm.vehicle_mileage.$touched && cardUsageForm.vehicle_mileage.$invalid ">
                                <div ng-message="required">This field is required!</div>
                                <div ng-message="pattern">This entry can only contain numbers</div>
                            </div>

                        </md-input-container>

                        <md-input-container>
                            <input  type="text"
                                    class="form-control"
                                    name="total_liters"
                                    maxlength="7"
                                    placeholder="Total of liters"
                                    ng-model="ctrl.newCardUsage.total_liters"
                                    ng-pattern="/^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{1,4})?$/"
                                    required>
                            <div ng-messages="cardUsageForm.total_liters.$error" ng-if="cardUsageForm.total_liters.$touched && cardUsageForm.total_liters.$invalid ">
                                <div ng-message="required">This field is required!</div>
                                <div ng-message="pattern">This entry can only contain numbers and decimal point. For example: 123.45</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Purchase Type</label>
                            <md-select
                                class="form-control"
                                name="purchase_type"
                                ng-model="ctrl.newCardUsage.purchase_type"
                                ng-required="true">

                                <md-option value="Regular">
                                    Regular
                                </md-option>
                                <md-option value="Premium">
                                    Premium
                                </md-option>
                                <md-option value="Diesel">
                                    Diesel
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <div layout="column" class="mdl-cell" flex-md="50 none" flex-gt-md="33 nogrow">

                        <md-input-container>
                            <input  type="text"
                                    class="form-control"
                                    name="total_receipt"
                                    maxlength="6"
                                    placeholder="Receipt Total ($)"
                                    ng-model="ctrl.newCardUsage.total_receipt"
                                    ng-pattern="/^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?$/"
                                    required>
                            <div ng-messages="cardUsageForm.total_receipt.$error" ng-if="cardUsageForm.total_receipt.$touched && cardUsageForm.total_receipt.$invalid">
                                <div ng-message="required">This field is required!</div>
                                <div ng-message="pattern">This entry can only contain numbers and decimal point. For example: 23.12</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <input  type="text"
                                    class="form-control"
                                    name="receipt_number"
                                    maxlength="35"
                                    placeholder="Receipt Number"
                                    ng-model="ctrl.newCardUsage.receipt_number"
                                    ng-pattern="/^(\d)+$/"
                                    required>
                            <div ng-messages="cardUsageForm.receipt_number.$error" ng-if="cardUsageForm.receipt_number.$touched && cardUsageForm.receipt_number.$invalid ">
                                <div ng-message="required">This field is required!</div>
                                <div ng-message="pattern">This entry can only contain numbers</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <input  type="text"
                                    class="form-control"
                                    name="comments"
                                    maxlength="180"
                                    placeholder="Any comments?"
                                    ng-model="ctrl.newCardUsage.comments">
                        </md-input-container>

                        <md-input-container ng-if="ctrl.uploader">
                            <label>Transaction Receipt</label><br/><br/>
                            <input type="file" nv-file-select uploader="ctrl.uploader" required/><br/>
                            <ul>
                                <li ng-repeat="item in ctrl.uploader.queue">
                                    {{item.file.name}}
                                </li>
                            </ul>
                        </md-input-container>
                  </div>
                </div>
            </div>
            <div style="text-align: center;">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="cardUsageForm.$invalid && !!ctrl.uploader.queue"> Add Record </md-button>
            </div>
        </form>
    </div>
</div>

