<div class="mdl-cell" flex="100" style="background: white;">
    <div class="panel-header">
        Edit Usage Entry
    </div>
    <div class="panel-body forms">
        <form name="editCardUsageForm" class="form-horizontal" ng-submit="ctrl.editCardUsage(ctrl.cardUsages)">  <!--TODO: verify this, how to obtain specific card usage?? -->
            <h4>Please enter changes for usage details</h4>
            <div layout="row" layout-sm="column" layout-xs="column" class="mdl-grid">
                <div class="mdl-cell" flex-md="50 none" flex-gt-md="33 nogrow">

                    <md-datepicker
                        tooltip="{{'vinTooltip' | translate}}"
                        ng-model="ctrl.cardUsage.date">
                    </md-datepicker>

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                tooltip="{{'vinTooltip' | translate}}"
                                name="number"
                                placeholder="Provider Number"
                                ng-model="ctrl.cardUsage.provider_number">
                    </md-input-container>

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                tooltip="{{'vinTooltip' | translate}}"
                                name="vehicle_mileage"
                                placeholder="Vehicle Mileage"
                                ng-model="ctrl.cardUsage.vehicle_mileage">
                    </md-input-container>

                    <md-input-container>
                        <label>Purchase Type</label>
                        <md-select
                            class="form-control"
                            name="purchase_type"
                            ng-model="ctrl.cardUsage.purchase_type">

                            <md-option value="R">  <!-- R: Regular -->
                                Regular
                            </md-option>
                            <md-option value="P">  <!-- P: Premium -->
                                Premium
                            </md-option>
                            <md-option value="D">  <!-- D: Diesel -->
                                Diesel
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                tooltip="{{'vinTooltip' | translate}}"
                                name="total_liters"
                                placeholder="Total of liters"
                                ng-model="ctrl.cardUsage.total_liters">
                    </md-input-container>

                </div>

                <div class="mdl-cell" flex-md="50 none" flex-gt-md="33 nogrow" layout-margin="60px">

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                tooltip="{{'vinTooltip' | translate}}"
                                name="total_receipt"
                                placeholder="Receipt Total"
                                ng-model="ctrl.cardUsage.total_receipt">
                    </md-input-container>

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                tooltip="{{'vinTooltip' | translate}}"
                                name="receipt_number"
                                placeholder="Receipt Number"
                                ng-model="ctrl.cardUsage.receipt_number">
                    </md-input-container>

                    <md-input-container>
                        <input  type="text"
                                class="form-control"
                                tooltip="{{'vinTooltip' | translate}}"
                                name="comments"
                                placeholder="Any comments?"
                                ng-model="ctrl.cardUsage.comments">
                    </md-input-container>

                    <!--  Picture Upload implementation here:

                    <md-input-container>-->
                        <!--<md-button id="uploadButton" nv-file-select uploader="uploader"  class="md-raised md-primary">Choose file</md-button>-->
                        <!--<ul>-->
                            <!--<li ng-repeat="item in uploader.queue">-->
                                <!--Name: <span ng-bind="item.file.name"></span><br/>-->
                                <!--<button ng-click="item.upload()">upload</button>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<label for="fileInput">Upload receipt picture</label>-->
                        <!--<input  id="fileInput" type="file" ng-model="ctrl.cardUsage.filename">-->

                    <!--</md-input-container>-->

                </div>
            </div>
                <md-button  type="submit" class="md-raised md-primary" ng-disabled="editCardUsageForm.$invalid"> Edit Usage </md-button>
        </form>
    </div>
</div>

<!-- jQuery script for managing Picture Upload Button. Needs to be changed to our variables-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script>-->
    <!--$('#dwg1').click(function(event) {-->
        <!--$('#fileDialog1').click();-->
    <!--});-->
<!--</script>-->

