<div class="login-overlay">
    <img class="logo" width="350px" src="./../assets/rum_vehicle_logo.png">

	<div class="form-container shadow">
		<div layout="column" class="icon" layout-align="start center">
			<i flex class="mdi mdi-account-circle"></i>
			<div flex class="header">
				Login
			</div>
		</div>

		<div layout="row">
			<form name="loginForm" ng-submit="ctrl.login()" flex="80" flex-xs="90" flex-offset="10" flex-offset-xs="5" layout="column" layout-padding>
				<div flex>
					<md-input-container>
	                    <input name="email"
                               ng-model="ctrl.user.email"
                               type="email"
                               placeholder="Email"
                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>

                        <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched && loginForm.email.$invalid">
                            <div ng-message="pattern">Please enter a valid email.</div>
                        </div>

	                </md-input-container>
				</div>
				<div flex>
					<md-input-container >
	                    <input name="password"
                               ng-model="ctrl.user.password"
                               type="password"
                               placeholder="Password" required>

	                </md-input-container>
				</div>
			    <div layout="row" layout-align="center center">
                    <div flex="15">
                        <md-button type="submit" class="md-raised primary" >Login</md-button>
                    </div>
			    </div>
            </form>

        </div>

        <div layout-padding="10px" layout="row" layout-align="end center">
            <a class="clickable" ng-click="ctrl.showForgotPasswordDialog()" class="link">Forgot password?</a>
        </div>
	</div>

	<footer class="login-footer">
		<div class="left-section">
             Made with &hearts; by RVDT
		</div>

		<div class="right-section">
			Terms and Conditions Apply
		</div>
	</footer>
</div>
